@charset "utf-8";#BM{z-index:100;position:absolute}#controlBM{z-index:100;position:absolute;top:10px;right:10px;line-height:36px;padding:12px;background:#eee;border:1px solid #aaa;border-radius:4px}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
